.content__wrap {
  max-width: 1280px;
  width: 100%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
.content__column {
  width: 270px;
  min-width: 270px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}
.content__column__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.column__block__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.block__status {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.column__block__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.column__block__body__option {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.option__header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.option__tickbox {
  width: 18px;
  height: 18px;
  border: solid 1px #dee8ff;
  transition: all 0.3s;
}
.option__arrow {
  width: 10px;
  height: 10px;
  background-image: url("/images/arrow.svg");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.option__title {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
  transition: all 0.3s;
}
.option__title:hover {
  cursor: pointer;
}
.option__tickbox:hover {
  cursor: pointer;
}
.option__arrow:hover {
  cursor: pointer;
}
.option__links {
  display: none;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
/* DONE STYLES */
.title__done {
  color: #00cc83;
  text-decoration: line-through;
}
.checkbox__done {
  background-image: url("/images/done.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.flip {
  transform: rotate(90deg);
}
.link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #c4c6ca;
  text-decoration: underline;
}
